<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>
<div class="form-container">
  <%= form_for @user, url: signup_path do |f| %>
    <%= render 'form', f: f %>
    <%= f.submit 'Sign up', class: 'btn btn-primary' %>
  <% end %>
</div>
